.container {
    background-color: #121f3c;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    > button {
      position: fixed;
      top: 20px;
      right: 30px;
      width: fit-content;
    }
  }
  
  .login {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem 9rem;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
  
    .generic-input {
      margin-bottom: 20px;
    }
  
    input, button {
      margin-bottom: 16px;
    }
  }
  